header {
	background: #3A445D;
	height: 50px;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.brand-name {
	font-size: 30px;
	font-family: "Raleway", sans-serif;
}
.tea {

}
.formation {
	color: pink;
}